.header {
  background-color: #3299cc;
  padding: 0;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 5px;
}

.nav ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav li {
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.2;
  margin-left: 10px;
}

.nav li a {
  color: #000;
}

.search input {
  padding: 10px;
  color: #6c757d;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 170px;
  height: 38px;
  flex-shrink: 0;
  border: 1px solid #000;
  margin-right: 10px;
}

.search button {
  padding: 1px;
  background-color: transparent;
  border: 1px solid #000;
  color: black;
  cursor: pointer;
  display: inline-flex;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
}

.search button:hover {
  background-color: #3700b3;
}
