/* Categories.module.css */
.categorias {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  padding: 10px;
}

.title {
  font-size: 1rem;
  color: #000;
  background: #3299cc;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  border-radius: 10px;
}

.title:hover {
  background-color: #3700b3;
}
