@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  min-height: 100vh;
  margin: 0;
  background: #d9d9f3;
}

ul li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
