/* not-found.module.css */
.container {
  text-align: center;
  margin-top: 50px;
}

.title {
  font-size: 48px;
  color: #000;
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  margin-bottom: 30px;
  color: #000;
}

.link {
  color: #3299cc;
  font-size: 16px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}
